.form, .product-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .col.col-6{
        flex: 0 0 49%;
        &.image{
            display: inline-flex;
            align-items: center;
        }
    }
    .submit{
        text-align: end;
    }
}
.back-button{
    position: absolute;
    top: 8%;
    left: 2%;
    background: transparent;
    color: #263238;
    &:focus{
        outline: none;
        box-shadow: none;
    }
}


$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    select, label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
        color: #9b9b9b !important;
    }
    select + label {
        background-color: #dee2e6;
        width: 100%;
        height: 52px;
        display: flex;
        align-items: center;
        top: 11px;
        border-bottom: 2px solid $gray;
    }

    select:focus + label {
        top: -13px !important;
        background: transparent;
        height: auto;
        border-bottom: none
    }
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1rem;
    color: #263238 !important;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown~.form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
}

.form__field:focus {
    ~.form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary;
        font-weight: 700;
    }

    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
}

/* reset input */
.form__field {

    &:required,
    &:invalid {
        box-shadow: none;
    }
}

/* demo */

