nav.navbar{
    background-color: #263238 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    .navbar-brand{
        color: #CFD8DC;
        transition: .3s all;
        &:hover {
            color: #ECEFF1;
        }
    }
    .nav-bar-items{
        list-style-type: none;
        display: flex;
        width: 70%;
        a {
            width: 100%;
            background: none;
            color: #CFD8DC;
            font-size: 14px;
            display: inline-block;
            &:hover {
                color: #ECEFF1;
            }
        }
        li {
            &:not(:last-child){
                margin-right: 30px;
            }
        }
    }
}
