body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    background-color: #dee2e6 !important;
    main{
        margin-left: 300px;
        margin-top: 100px;
    }
    ul{
        padding: 0;
        margin: 0;
    }
}

* {
    box-sizing: border-box;
}

#shoppingCart, #productDetails {
    main {
        margin-left: 0 !important;
    }
}

.pagination{
    justify-content: center;
    margin-top: 2rem;
    .page-item a,
    .page-item.active span{
        border: 2px solid #324047;
        color: #324047;
        &:hover{
            background-color: #324047;
            color: #fff;
        }
    }
    .page-item a:focus {
        box-shadow: none !important;
    }

    .page-item.active span{
        background-color: #324047;
        color: #fff;
    }
    .page-item.disabled .page-link{
        border: 2px solid #324047;
    }
}
