
.sidebar{
    position: fixed;
    top: 55px;
    left: 0;
    width: 200px;
    border-right: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    background-color: #fff;
    height: 100vh;
    padding: 4rem 2rem;
}
